body{
    background-image:url(./pexels-donald-tong-23475.jpg) ;
    background-size: cover;
    background-repeat:no-repeat ;
    height: 100vh;
}
#btn{
    position: absolute;
    left: 70%;
    TOP: 50%;
}


